body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
}

#login-form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form input {
    margin: 5px 0;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}

#menu {
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.category-list div {
    margin: 0 10px;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#product-management {
    margin-top: 20px;
}

#product-management h4 {
    margin-top: 10px;
}

input {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#product-list div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #e9ecef;
}
